

<!--{{#each cars as |car|}}
for each car in the array of car objects, teh following <div> will be rendered
    <div calss="car col-md-12">
    We use car.id instead of <od> and <li> elements
        <p>
            {{car.id}}
            {{car.car_model}}
            </p>
            </div>
            Below we close the #each helper
            {{/each}} -->